$primary-color:#000000;
$secondary-color:#FFAB00;
$seconday-blue:#377DFF;
$secondary-green:#38CB89;
$secondary-red:#FF5630;
$neutral-black:#141718;
$neutral-gray:#6C7275;
$neutral-light-gray:#E8ECEF;
$neutral-white:#F3F5F7;
$neutral01:#FEFEFE;
$neutral02:#F3F5F7;
$neutral03:#E8ECEF;
$neutral04:#6C7275;
$neutral05:#343839;
$neutral06:#232627;
$neutral07:#141718;